.wrapper {
    margin-top: 30px;
    
    display: flex;
    align-items: center;
    margin-left: 30px;
    .text-content {
        color: #FFFFFF;
        font-size: 22px;
        line-height: 27px;
        margin-left: 26px;
        margin-top: 4px;
    }
    .icon {
        width: 23px;
        height: 28px;

    }
    


}



